.container{
    display: flex;
    border-radius: 10px;
    border: 10px solid black;
    height: 90vh;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1em;
    row-gap: 1em;
}
.box{
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 125px;
    border-radius: 20px;
}
#box1{
    background-color: yellow;
}
#box2{
    background-color: orange;
}
#box3{
    background-color: red;
}
#box4{
    background-color: pink;
}