body{
    background-color: black;
    color: rgb(245, 245, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    text-align: center;
}
input{
    color: rgb(250, 250, 250);
    background-color: black;
    text-align: center;
    font-size: 2em;
    width: 40%;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.button:hover {background-color: #3e8e41}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#container{
    font-size: 1.5rem;
    font-weight: bold;
}
#diceresult{
    margin: 25px;
}
#diceimages img{
    width: 100px;
    margin: 5px;
}